{
    "PREDEFINED_CONSUMABLES": {
        "HP Color LaserJet M255dw": [
            {
                "name": "HP 206X High Yield Black Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "W2110X"
            },
            {
                "name": "HP 206X High Yield Magenta Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "W2113X"
            },
            {
                "name": "HP 206X High Yield Cyan Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "W2111X"
            },
            {
                "name": "HP 206X High Yield Yellow Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "W2112X"
            }
        ],
        "HP LaserJet P2055dn": [
            {
                "name": "HP 05A 2-pack Black Original LaserJet Toner Cartridges",
                "type": "Toner",
                "part_number": "CE505D",
                "pack_size": "2-pack",
                "pages": "~2,300 per cartridge",
                "msrp": "$213.99",
                "rating": "4.6/5"
            },
            {
                "name": "HP 05X High Yield Black Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "CE505X",
                "pages": "~6,500",
                "msrp": "$217.99",
                "rating": "4.3/5"
            },
            {
                "name": "HP 05A Black Original LaserJet Toner Cartridge",
                "type": "Toner",
                "part_number": "CE505A",
                "rating": "4.4/5"
            }
        ],
        "LaserJet 400 M401dne": [
    {
        "name": "HP 80X 2-pack High Yield Black Original LaserJet Toner Cartridges",
        "type": "Toner",
        "part_number": "CF280XD"
    },
    {
        "name": "HP 80X High Yield Black Original LaserJet Toner Cartridge",
        "type": "Toner",
        "part_number": "CF280X"
    },
    {
        "name": "HP 80A 2-pack Black Original LaserJet Toner Cartridges",
        "type": "Toner",
        "part_number": "CF280AD1"
    },
    {
        "name": "HP 80A Black Original LaserJet Toner Cartridge",
        "type": "Toner",
        "part_number": "CF280A"
    }
],
        "LaserJet 400 M401dn": [
    {
        "name": "HP 80X 2-pack High Yield Black Original LaserJet Toner Cartridges",
        "type": "Toner",
        "part_number": "CF280XD"
    },
    {
        "name": "HP 80X High Yield Black Original LaserJet Toner Cartridge",
        "type": "Toner",
        "part_number": "CF280X"
    },
    {
        "name": "HP 80A 2-pack Black Original LaserJet Toner Cartridges",
        "type": "Toner",
        "part_number": "CF280AD1"
    },
    {
        "name": "HP 80A Black Original LaserJet Toner Cartridge",
        "type": "Toner",
        "part_number": "CF280A"
    }
]
    }
}